[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
python-dotenv = "*"

[packages]
ujson = "*"
cython = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
uwsgi = "*"
flask = "*"

[requires]
python_version = "3.7"
